<div class="bottom-nav">

    <!-- Home -->

    <a
        href="/CM_Pro/index.html"
        class="bottom-nav-item"
    >

        <img
            src="/CM_Pro/assets/icons/bottomnav/home.png"
        >

        <span>Home</span>

    </a>

    <!-- Setting -->

    <a
        href="/CM_Pro/pages/settings/index.html"
        class="bottom-nav-item"
    >

        <img
            src="/CM_Pro/assets/icons/bottomnav/setting.png"
        >

        <span>Setting</span>

    </a>

    <!-- Notification -->

    <a
        href="/CM_Pro/pages/notifications/index.html"
        class="bottom-nav-item notification-item"
    >

        <div class="notification-wrapper">

            <img
                src="/CM_Pro/assets/icons/bottomnav/notification.png"
            >

      <div
    class="notification-badge"
    id="notificationBadge"
    style="display:none"
>
    0
</div>

        </div>

        <span>Notification</span>

    </a>

</div>
