<div class="bottom-nav">

    <!-- Home -->
    <a
        href="./index.html"
        class="bottom-nav-item active"
    >

        <img
            src="./assets/icons/bottomnav/home.png"
        >

        <span>Home</span>

    </a>

    <!-- Setting -->
    <a
        href="./pages/settings/index.html"
        class="bottom-nav-item"
    >

        <img
            src="./assets/icons/bottomnav/setting.png"
        >

        <span>Setting</span>

    </a>

    <!-- Notification -->
    <a
        href="./pages/notifications/index.html"
        class="bottom-nav-item notification-item"
    >

        <div class="notification-wrapper">

            <img
                src="./assets/icons/bottomnav/notification.png"
            >

            <div class="notification-badge">
                3
            </div>

        </div>

        <span>Notification</span>

    </a>

</div>
