<div class="sidebar">

    <div class="sidebar-logo">
        CM_Pro
    </div>

    <div class="sidebar-menu">

        <a href="./index.html" class="menu-item">
            Dashboard
        </a>

        <a href="./pages/customers/index.html" class="menu-item">
            Customers
        </a>

        <a href="./pages/arrears/index.html" class="menu-item">
            Arrears
        </a>

        <a href="./pages/nbcos/index.html" class="menu-item">
            NBCOS
        </a>

        <a href="./pages/turnover/index.html" class="menu-item">
            Turnover
        </a>

        <a href="./pages/documents/index.html" class="menu-item">
            Documents
        </a>

        <a href="./pages/reports/index.html" class="menu-item">
            Reports
        </a>

        <a href="./pages/admin/index.html" class="menu-item">
            Admin
        </a>

    </div>

</div>
