
<div class="topbar">

    <div class="topbar-left">

        <img
            src="./assets/images/acleda-logo.PNG"
            class="topbar-logo"
        >

    </div>

    <div
        class="topbar-right"
        onclick="logout()"
    >

        <img
            src="./assets/images/profile.jpg"
            class="topbar-profile"
            id="topbarProfile"
        >

        <div
            class="topbar-name"
            id="topbarName"
        >
            សួស្តី, User
        </div>

    </div>

</div>
