/* =========================
   Dashboard Layout
========================= */

.dashboard-container{

    padding:20px;

    padding-bottom:120px;

    background:#002D6B;

    min-height:100vh;

}

.dashboard-grid{

    display:grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap:22px;

}

/* Tablet */
@media (min-width:768px){

    .dashboard-grid{

        grid-template-columns:
            repeat(3, 1fr);

    }

}

/* Desktop */
@media (min-width:1200px){

    .dashboard-grid{

        grid-template-columns:
            repeat(4, 1fr);

    }

}
