@import url('./variables.css');
@import url('./layout.css');
@import url('./mobile.css');

@import url('./dashboard.css');
@import url('./cards.css');
@import url('./bottomnav.css');
@import url('./topbar.css');
@import url('./assistant.css');
@import url('./page.css');

/* =========================
   FONT
========================= */

@font-face{

    font-family:"Krasar";

    src:url("../fonts/Krasar-Regular.ttf") format("truetype");

    font-weight:normal;

    font-style:normal;

    font-display:swap;

}

/* =========================
   Global Reset
========================= */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html,
body{

    width:100%;

    height:100%;

    margin:0;

    padding:0;

    overflow-x:hidden;

    background:#002D6B;

    font-family:"Krasar",Arial,sans-serif;

}
