/* =========================
   Topbar
========================= */

.topbar{

    background:#002D6B;

    color:white;

    padding:10px 14px;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    min-height:78px;

    box-sizing:border-box;

}

/* Left */
.topbar-left{

    display:flex;

    align-items:center;

}

/* ACLEDA Logo */
.topbar-logo{

    height:42px;

    object-fit:contain;

}

/* Right */
.topbar-right{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:3px;

}

/* Profile */
.topbar-profile{

    width:52px;
    height:52px;

    border-radius:50%;

    border:2px solid #D4AF37;

    object-fit:cover;

    background:white;

}

/* Username */
.topbar-name{

    color:#FFD700;

    font-size:13px;

    font-family:'KRASAR', sans-serif;

    text-align:center;

    line-height:1.2;

}
